<h2>Forgot your password?</h2><br>

<form accept-charset="UTF-8" action="#" {{action "resetPassword" on="submit" target="EmberDeviseBootstrap.passwordController"}}
  class="new_user" id="new_user" method="post">

  {{view "Bootstrap.Forms.TextField"
          label="email" valueBinding="EmberDeviseBootstrap.passwordController.email"}}

  <div><input name="commit" type="submit" value="Send me reset password instructions"></div>
</form>

<a href="#" {{action "signIn" target="EmberDeviseBootstrap.passwordController"}}>Sign in</a>
<a href="/users/auth/facebook">Sign in with Facebook</a><br>
