<li id="sign_up_menu" class="dropdown menu">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Up <b class="caret"></b></a>
  <div class="dropdown-menu" style="padding: 15px">
    {{view signUpView}}
  </div>
</li>
<li class="divider-vertical"></li>
<li id="sign_in_menu" class="dropdown menu">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <b class="caret"></b></a>
  <div id="sign_in_menu_content" class="dropdown-menu" style="padding: 15px">
    {{#if isSignInContent}}
      {{view EmberDeviseBootstrap.SignInContentView}}
    {{else}}
      {{view EmberDeviseBootstrap.PasswordContentView}}
    {{/if}}
  </div>
</li>
