<!DOCTYPE html>
<html>
<head>
  <title>EmberDeviseBootstrap</title>
  <%= stylesheet_link_tag    "ember-devise-bootstrap/application", :media => "all" %>
  <%= javascript_include_tag "ember-devise-bootstrap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
